<!DOCTYPE html>
<html>
<head>
    <title>Bridge.NET jQuery Demo</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="resources/css/demo.css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>

    <script src="~/resources/js/bridge.js"></script>

    <script src="~/resources/js/Config.js"></script>
    <script src="~/resources/js/jQueryApp.js"></script>
</head>
<body>

</body>
</html>